<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5 mb-4">Welcome to My Personal Website</h1>
            <p class="lead">Here you'll find my thoughts, articles, and more about me.</p>
            <hr class="my-4">
            <p>Explore my latest articles and projects.</p>
            <a class="btn btn-primary btn-lg" href="/articles" role="button">Read Articles</a>
        </div>
    </div>
</div>